services:
    wg-easy:
        image: weejewel/wg-easy
        restart: unless-stopped
        sysctls:
            - net.ipv4.ip_forward=1
            - net.ipv4.conf.all.src_valid_mark=1
        cap_add:
            - SYS_MODULE
            - NET_ADMIN
        ports:
            - '51821:51821/tcp'
            - '51822:51822/udp'
        volumes:
            - '~/.wg-easy:/etc/wireguard'
        environment:
            - PASSWORD=admin
            - WG_HOST=vpn.myserver.com
            - WG_PORT=51822
            - WG_PERSISTENT_KEEPALIVE=25
            - WG_DEFAULT_DNS=1.1.1.1,8.8.8.8
            - WG_ALLOWED_IPS=10.8.0.0/24
        container_name: wg-easy